<% provide(:name, "admin") %>

<div class="container">
    <div class="col-md-5">
        <div>
            <h3 class="text-center">Employee Signup</h3>
        </div>

        <%= form_for( @employee, url: admin_addemployee_path ) do |f| %>
        <%= render 'shared/error_messages' %>
            <div>
                <div class="formgroup">
                    <div>
                        <%= f.label :name %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.text_field :name, class: "form-control" %>
                            
                    </div>


                    <div>
                        <%= f.label :gender %>
                            :</div>
                    <div>
                        <%= f.select :gender, options_for_select([["Male"],["Female"],["Other"]]) %>
                            
                    </div>
                    <div>
                        <%= f.label :designation %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.text_field :designation, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :phone %>
                            :</div>
                    <div>
                        <%= f.text_field :phone, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :email %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.email_field :email, class: "form-control", id: "copy" %>
                            
                    </div>
                    <div>
                        <%= f.label :date_of_join %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.date_field :date_of_join, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :date_of_birth %>
                            :</div>
                    <div>
                        <%= f.date_field :date_of_birth, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :address %>
                            :</div>
                    <div>
                        <%= f.text_area :address, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :active %>
                            :</div>
                    <div>
                        <%= f.check_box :active %>
                    </div>
                    <div>
                        <%= f.label :username %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.text_field :username, class: "form-control", id: "target" %>
                            
                    </div>
                    <div>
                        <%= f.label :password %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.password_field :password, class: "form-control" %>
                            
                    </div>
                    <div>
                        <%= f.label :password_confirmation %>
                            <sup>*</sup>:</div>
                    <div>
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                            
                    </div>
                </div>
                <br />
                <div>
                    <%= f.submit "Add Employee", class: "btn btn-lg btn-success col-sm-12 col-xs-12" %>
                </div>
            </div>
            <% end %>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#copy').blur(function () {
            $('#target').val($(this).val());
        });
    });
</script>