<div class="container">
    <div class="col-md-4">
        <div>

            <h3 class="text-center">Employee Login</h3>
            <%= form_for( :session, url: employeeportal_login_path ) do |f| %>
                <div class="input-grid">
                    <div class="grid formgroup">
                        <div>
                            <%= f.label :username %>
                                <sup>*</sup>:</div>
                        <div>
                            <%= f.text_field :username, class: "form-control"%>

                        </div>


                        <div>
                            <%= f.label :password %>
                                <sup>*</sup>:</div>
                        <div>
                            <%= f.password_field :password, class: "form-control" %>

                        </div>
                    </div>
                    <br />
                    <div class="text-right">
                        <%= f.label :remember_me, class: "checkbox inline pos" do %>
                            <%= f.check_box :remember_me %>
                                <span>Remember me</span>
                                <% end %>
                    </div>
                    <div>
                        <%= f.submit "Log in", class: "btn btn-success col-sm-12 col-xs-12" %>
                    </div>
                </div>
            <% end %>
    </div>
</div>